black>=24.10.0
ipykernel>=6.29.5
pre-commit>=4.0.1
pymdown-extensions>=10.12
pytest>=8.3.4
pytest-cov>=6.0.0
ruff>=0.8.2
tox-uv>=1.16.1
pydoclint>=0.6.6
sphinx>=9.0.0
sphinx-autobuild>=2025.8.25
sphinx-book-theme>=1.1.4
nbsphinx>=0.9
sphinx-autodoc-typehints>=3.2.0
myst_nb>=1.3.0
sphinx-copybutton>=0.5.2

jupyterlab
ipywidgets
scikit-build-core
cmake
ninja
numpy
